name: CI

on: [push, pull_request]

jobs:
  build:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - name: Install modules
          run: npm install
        - name: Run ESLint
          run: npx eslint . --ext .js,.jsx,.ts,.tsx